@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.container {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 60px;
}

.container1 {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 20px;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  margin-bottom: 10%;
  gap: 100px;
  padding: 20px;
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  image-rendering: auto;
  height: auto;
  width: 100%;
}

.item1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-bottom: 10%;
}

.item2 {
  flex: 1;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  gap: 44px;
  height: 265px;
  justify-content: center;
  align-items: center;
  padding: 30px 25px;
  border-radius: 10px;
  background: rgba(41, 22, 99, 0.50);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.item2 h1,
.item2 p {
  text-align: center;
}

.title {
  color: #ffffffee;
  font-size: 72px;
  text-align: right;
  font-family: 'Poppins';
}

.desc {
  font-size: 20px;
  font-family: 'Poppins';
  color: #D8CBFF;
  text-align: right;
  font-weight: 500;
  list-style-type: none;
}

.item3 ul {
  margin-top: 15px;
}

.button:hover {
  background-color: #e4339794;
}

.arrow {
  margin-left: 20px;
}

.img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imgGroup {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
}

/* Media Query para telas menores que 800px */
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .container1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
  }

  .container2 {
    grid-template-columns: 1fr; /* Coloca os itens em uma única coluna */
    gap: 20px;
    margin-bottom: 5%;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .desc {
    font-size: 16px;
    text-align: center;
  }

  .item1,
  .item2 {
    margin-bottom: 20px;
    gap: 20px;
    padding: 20px;
    height: auto;
  }

  .img {
    height: 300px; /* Ajusta altura para imagens menores */
  }

  .imgGroup {
    height: auto; /* Garante ajuste automático de imagens agrupadas */
  }

  .ul {
    font-size: 18px;
    text-align: left;
  }
}

/* Media Query para telas menores que 500px */
@media screen and (max-width: 500px) {
  .title {
    font-size: 2rem;
  }

  .desc {
    font-size: 14px;
  }

  .item2 {
    padding: 15px;
    gap: 15px;
  }

  .img {
    display: none; /* Remove imagens para dispositivos muito pequenos */
  }

  .ul {
    font-size: 16px;
    padding: 0;
  }
}
