/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/Library/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_container__qZaxh {
  margin: 0;
}

.page_title__1XzrH {
  height: 80px;
  display: flex;
  align-items: left;
  color: rgba(255, 255, 255, 0.63);
  justify-content: left;
  font-weight: bold;
  font-size: 45px;
}



/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/styles/Global.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
:root {
  --primary: #34008c;
  --secondary: #7900ff;
  --tertiary: #8665cd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Adicione isso para garantir que padding e border sejam incluídos no tamanho total dos elementos */
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--secondary) var(--primary);
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
    112deg,
    #2242da -7.38%,
    #451892 -1.58%,
    #2f0e6b 13.55%,
    #1d064b 26.57%,
    #14023b 40.26%,
    #170341 57.22%,
    #1e074d 69.33%,
    #310f6e 90.72%,
    #263acb 133.23%
  );
  color: #fff;
}


a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 120px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 60px;
}


.elipse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    padding: 0 50px;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/Components/Card/card.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.card_container__k8GgL {
  height: 100%;
  width: 100%;
}

.card_caps__3sQoq {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(4, 1fr); */
  /* min-height: 500px; */
  width: 100%;
  margin-top: 60px;
  overflow: auto;
  height: 515px;
  gap: 1.5rem;
}
.card_caps__3sQoq::-webkit-scrollbar{
  width: 0px;
}

.card_card__9kcCH {
  /* max-width: 587px; */
  /* max-height: 95px; */
  width: 100%;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.card_link__uPd9S:hover {
  background: rgb(41, 22, 99);
  cursor: pointer;
}

.card_title__JZCop {
  color: #FBF5FF;
  margin-left: 25px;
  font-size: 15;
  font-weight: bold;
}

.card_subtitle__9kDhR {
  color: #8665CD;
  margin-left: 25px;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
}

.card_link__uPd9S {
  /* max-width: 587px; */
  /* max-height: 95px; */
  width: 100%;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  background: rgba(41, 22, 99, 0.50);
}

@media screen and (max-width: 800px) {
  .card_capsMobile__rMrbj {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 4.5rem;
      margin-top: 2rem;
      gap: 2rem;
      padding: 1.5rem 0rem;
      height: 100%;
  }

  .card_link__uPd9S {
      width: 100%;
      height: 4.5rem;
      border-radius: 15px;
      display: flex;
      justify-content: left;
      align-items: center;
  }

  .card_title__JZCop {
      margin-left: 12px;
      font-size: 19px;
      font-weight: bold;
  }

  .card_subtitle__9kDhR {
      margin-left: 12px;
      font-size: 14px;
      margin-top: 5px;
      font-weight: 500;
  }
}

