/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/Components/Chapter/chapter.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.chapter_ChapterContainer__e0t4n {
    display: flex;
    font-family: Poppins;
    flex-direction: column;
}

.chapter_ChapterContainer__e0t4n h2 {
    color: #8665CD;
    font-size: 1.5rem;
    font-weight: bold;
}

.chapter_ChapterContainer__e0t4n p {
    color: #ECECEC;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;

}

.chapter_ChapterCard__xeycx {
    padding: 3rem 5rem;
    border-radius: 8px;
    border: 1px solid #451892;
    max-height: 500px;
    background: linear-gradient(180deg, rgba(69, 24, 146, 0.44) 0%, rgba(41, 22, 98, 0.00) 100%);
    overflow: auto;
}

.chapter_ChapterCard__xeycx p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

@media screen and (max-width: 800px) {

    .chapter_ChapterContainer__e0t4n {
        display: flex;
        font-size: 30px;
        flex-direction: column;
    }

    .chapter_ChapterContainer__e0t4n h2 {
        color: #8665CD;
        font-size: 1rem;
        font-weight: bold;
    }

    .chapter_title__LwQsT {
        font-size: 30px
    }

    .chapter_ChapterContainer__e0t4n p {
        color: #ECECEC;
        font-family: 'Poppins';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .chapter_ChapterCard__xeycx {
        padding: 0rem 0rem;
        border-radius: 8px;
        border: 0px solid #451892;
        width: 100%;
        background: none;
        max-height: 100%;
        overflow: auto;
        background: none
    }

    .chapter_ChapterCard__xeycx p {
        color: rgba(255, 255, 255, 0.85);
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }
}
