__pycache__
.pytest_cache
venv
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios do Node.js
node_modules/
dist/
build/

# Cache do npm e yarn
.npm/
.yarn/

# Arquivos de ambiente e configuração locais
.env
.env.local
.env.*.local

# Configurações locais do sistema operacional
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Cache do Fastify e temporários
.cache/
.tmp/

# Diretórios do Python
__pycache__/
*.py[cod]

# Virtual Environment do Python
.venv/
venv/
ENV/

# Arquivos de saída do vídeo processado
video/output_video.mp4

# Outros arquivos temporários
uploads/
*.bak
*.tmp
