@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    color: #45189200;
    font-family: 'Poppins';
    border-width: 1px;
    border-style: solid;
    border-color: #451892;
    background: linear-gradient(to bottom, rgba(69, 24, 146, 0.44), #120234);
    border-radius: 8px;
    padding: 20px;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #FBF5FF;
    margin-bottom: 30px;
}

.item1 {
    width: 500px;
    height: 100%;
    max-width: 100%;
    padding: 50px;
    margin-left: 69px;
    margin-bottom: 59px;
}

.item2 {
    width: 500px;
    min-height: 600px;
    height: 100%;
    padding: 50px;
    margin-bottom: 59px;
    margin-right: 69px;
}

.item1Text {
    margin-top: 44px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    max-width: 400px;
    color: rgba(255, 255, 255, 0.5);
}

.item2Text {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.input {
    width: 400px;
    height: 60px;
    border-radius: 8px;
    background-color: #34008C70;
    border-style: hidden;
    font-size: 20px;
    padding-left: 16px;
    color: #CB88FF;
}

.inputSelect {
    width: 418px;
    height: 60px;
    border-radius: 8px;
    background-color: #34008C70;
    border-style: hidden;
    padding: 16px;
    font-size: 20px;
    color: #CB88FF;
}

.resultInput {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 28px;
}

.option {
    background-color: #120234;
    font-size: 18px;
    padding: 5px;
    color: #ffffffc9;
}

.option:checked {
    background-color: #451892;
    padding: 5px;
}

.input:focus {
    outline: none;
    background-color: rgba(7, 0, 18, 0.44);
}

/* Media Query para telas menores que 800px */
@media screen and (max-width: 800px) {
    .main {
        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: center; /* Centraliza os itens */
        gap: 1.5rem;
    }

    .container {
        width: 100%; /* Largura total */
        flex-direction: column; /* Muda para coluna */
        justify-content: center; /* Centraliza verticalmente */
        color: #45189200;
        border-width: 0px; /* Remove a borda */
        gap: 20px; /* Espaçamento entre os itens */
        padding: 2rem; /* Padding interno */
    }

    .item1, .item2 {
        width: 100%; /* Largura total */
        padding: 20px; /* Reduz o padding */
        margin: 0; /* Remove margens laterais */
    }

    .item1Text, .item2Text {
        margin-top: 15px;
        font-size: 15px; /* Tamanho da fonte reduzido */
        color: rgba(255, 255, 255, 0.5);
    }

    .title {
        font-weight: 800;
        font-size: 23px; /* Tamanho da fonte reduzido */
        margin-bottom: 0px; /* Remove margem inferior */
        padding-bottom: 0px; /* Remove padding inferior */
    }

    .inputSelect, .input {
        width: 95%; /* Largura total */
        height: 40px; /* Altura reduzida */
        font-size: 15px; /* Tamanho da fonte reduzido */
        padding-left: 5%; /* Ajusta padding */
    }

    .resultInput {
        font-size: 15px; /* Tamanho da fonte reduzido */
    }

    .option {
        font-size: 14px; /* Tamanho da fonte reduzido */
    }
}

/* Media Query para telas menores que 500px */
@media screen and (max-width: 500px) {
    .container {
        padding: 10px; /* Menor padding */
    }

    .item1, .item2 {
        padding: 15px; /* Reduz o padding */
    }

    .title {
        font-size: 20px; /* Tamanho da fonte reduzido */
    }

    .item1Text, .item2Text {
        font-size: 14px; /* Tamanho da fonte reduzido */
    }

    .input, .inputSelect {
        height: 35px; /* Altura reduzida */
        font-size: 14px; /* Tamanho da fonte reduzido */
    }

    .resultInput {
        font-size: 14px; /* Tamanho da fonte reduzido */
    }
}
