/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/Contact/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_container__dEHVn {
  margin: 0;
}

.page_title__a_Od9 {
  height: 80px;
  display: flex;
  align-items: left;
  color: rgba(255, 255, 255, 0.63);
  justify-content: left;
  font-weight: bold;
  font-size: 45px;
}

@media screen and (max-width: 800px) {
  .page_titleMobile__XKun5 {
      font-weight: bold;
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.63);
  }
}
