/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/About/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.page_container1__n6d9H {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 20px;
}

.page_container2__aJODW {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  margin-bottom: 10%;
  gap: 100px;
  padding: 20px;

}

.page_containerImg__8iSob{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: auto;
}

.page_item1__rB_ls {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-bottom: 10%;
}

.page_item2__FCF8_ {
  flex: 1 1;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  gap: 44px;
  height: 250px;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
  border-radius: 5px;
  background: rgba(41, 22, 99, 0.50);
}

.page_item2__FCF8_ h1,
.page_item2__FCF8_ p {
  text-align: left;
}

.page_title___PcyZ {
  color: #ffffffee;
  font-size: 72px;
  text-align: right;
  font-family: 'Poppins';

}

.page_desc__Uudxy {
  font-size: 20px;
  font-family: 'Poppins';
  color: #D8CBFF;
  text-align: right;
  font-weight: 100;
  font-weight: 500;
  list-style-type: none;
}

.page_item3__4bSUq ul {
  margin-top: 15px;
}

.page_button__A_gnY:hover {
  background-color: #e4339794;
}

.page_arrow__TLlt8 {
  margin-left: 20px;
}

.page_img__vZxpw {
  max-width: 100%;
  object-fit: cover;
}


@media screen and (max-width: 800px) {

  .page_container1__n6d9H {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 2rem 0rem;
  }

  .page_container2__aJODW {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 1rem;
  }

  .page_container2__aJODW.page_title___PcyZ {
    display: flex;
    text-align: center;
  }

  .page_title___PcyZ {
    font-size: 2rem;
    text-align: center;
    color: #ffffffee;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

  }

  .page_titleMain__9CjL7 {
    font-size: 3rem;
    text-align: left;
    margin-top: 1rem;

  }

  .page_item__WxB8i {
    border-radius: 5px;
    background: rgba(41, 22, 99, 0.50);
    margin: 0.5rem 0rem;
    padding: 15px 25px;
    box-shadow: 5px 5px 5px #0000003f;

  }

  .page_desc__Uudxy {
    padding-bottom: 1rem;
    text-align: left;
    font-size: 15px;
  }

  .page_descItem__mAm2a {
    font-size: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Poppins';
    color: #D8CBFF;
    text-align: left;
    font-weight: 100;
    font-weight: 500;
  }

  .page_ul__NcrZp {
    padding-bottom: 0.5rem;
    text-align: left;
    font-size: 20px;
    font-family: 'Poppins';
    color: #D8CBFF;
    font-weight: 100;
    font-weight: 500;
    list-style-type: none;
  }

  /*
  .imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .imgLamp {
    width: 140px;
    height: 140px;
    position: relative;
    z-index: 1;
  } */

  .page_container2__aJODW {
    display: flex;
  }

}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/Global.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
:root {
  --primary: #34008c;
  --secondary: #7900ff;
  --tertiary: #8665cd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Adicione isso para garantir que padding e border sejam incluídos no tamanho total dos elementos */
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--secondary) var(--primary);
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
    112deg,
    #2242da -7.38%,
    #451892 -1.58%,
    #2f0e6b 13.55%,
    #1d064b 26.57%,
    #14023b 40.26%,
    #170341 57.22%,
    #1e074d 69.33%,
    #310f6e 90.72%,
    #263acb 133.23%
  );
  color: #fff;
}


a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 120px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 60px;
}


.elipse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    padding: 0 50px;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/Components/navbar/Navbar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_container__WKfQc {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  padding: 0 60px;
}

.Navbar_navbar-left__ZGJJs {
  display: flex;
  align-items: center;
}

.Navbar_navbar-logo__M2Shh {
  width: 140px;
}

.Navbar_navbar-right__VQLM_ {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Navbar_navbar-links__R5Z4Z {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navbar_navbar-links__R5Z4Z li {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins';
}

.Navbar_navbar-links__R5Z4Z li a {
  color: #fff; /* Mantém o texto branco na navbar */
  text-decoration: none;
}

.Navbar_navbar-links__R5Z4Z li a:hover {
  color: #FFBCF1;
}

.Navbar_navbar-profile__hdm7I {
  width: 30px;
  height: 30px;
  text-align: center;

}


