/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/CssModules/Home.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.Home_container__cIIrz {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 60px;
}

.Home_item___CMQJ {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.Home_title__abEIk {
  font-size: 72px;
  font-family: 'Poppins';
}

.Home_desc__z5GrM {
  font-size: 20px;
  font-family: 'Poppins';
  color: #d8cbff;
  font-weight: 100;
  font-weight: 500;
}

.Home_button__Zx_Z4 {
  padding: 15px 13px;
  cursor: pointer;
  background-color: #e43397;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  width: max-content;
  font-weight: 500;
}
.Home_button__Zx_Z4:hover {
  background-color: #e4339794;
}
.Home_arrow__NCOxS {
  margin-left: 20px;
}

.Home_img__L7nop {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}
.Home_logo-mobile__jkuFf {
  display: none;
}

@media screen and (max-width: 800px) {
  .Home_container__cIIrz {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0px;
    overflow: hidden;
  }
  .Home_title__abEIk {
    font-size: 3rem;
  }
  .Home_desc__z5GrM {
    font-size: 13px;
  }
  .Home_button__Zx_Z4 {
    padding: 7px 6px;
  }
  .Home_img__L7nop {
    display: none;
  }
  .Home_logo-mobile__jkuFf {
    display: block;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/styles/Global.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
:root {
  --primary: #34008c;
  --secondary: #7900ff;
  --tertiary: #8665cd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Adicione isso para garantir que padding e border sejam incluídos no tamanho total dos elementos */
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--secondary) var(--primary);
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
    112deg,
    #2242da -7.38%,
    #451892 -1.58%,
    #2f0e6b 13.55%,
    #1d064b 26.57%,
    #14023b 40.26%,
    #170341 57.22%,
    #1e074d 69.33%,
    #310f6e 90.72%,
    #263acb 133.23%
  );
  color: #fff;
}


a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 120px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 60px;
}


.elipse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    padding: 0 50px;
  }
}

